body {
    background-color: #282d37;
}

/**************************************/

#matrix_frame {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    width: min(2600px,90%);

    background-color: #191514;

    border-color: #beb5a4;
    border-style: solid;
    border-width: 1.7vw;
    border-radius: 5px;
}

#matrix {
    margin-top: 0.6%;
    margin-bottom: 0.6%;
    margin-left: 2%;
    margin-right: 2%;
}

/**************************************/

#control_box {
    position: fixed;
    bottom: 20px;

    width: min(800px,95%);

    left:50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    background-color: #252933;
    padding: 10px;
    border-radius: 5px;
    border-color: #20252e;
    border-style: solid;
    border-width: 3px;
}
#control_box *{
    margin: 3px;
}

#destination_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#destination_box select{
    width: 45%;
}

#current_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#current_station {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#modes_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom_actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/**************************************/

.arrow{
    width: 15px;
    height: 15px;
    
    border-style: solid;
    border-width: 5px;
    border-left: none;
    border-bottom: none;
    
    transform: rotate(45deg) scale(0.6);

    border-color: white;
  }

/**************************************/

select {
    background-color: #20252e;
    color: #ffffff;

    border-color: #373c45;
    border-radius: 4px;
    
    font-size: larger;

    padding: 5px;

    min-width: 0;
    flex-shrink: 1;
}

.checkbox_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    color: white;
    font-family: sans-serif;
    user-select: none;
}

button {
    background-color: #20252e;
    color: white;

    border-style: solid;
    border-width: 2px;
    border-color: #373c45;
    border-radius: 5px;

    padding: 7px;

    font-size: large;
    font-family: sans-serif;

    transition: 0.2s;
}
button:hover:enabled{
    background-color: #171b21;
    border-color: #646c7b;
    cursor: pointer;
}
button:active:enabled{
    background-color: #343c4a;
}
button:disabled{
    color: #828282;
    cursor: not-allowed;
}

button.secondary{
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-color: #373c45;
}
button.secondary:hover:enabled{
    background-color: #1a1e25;
    border-color: #646c7b;
    color: white;
}
button.secondary:active:enabled{
    background-color: #343c4a;
}

input[type="checkbox"]{
    appearance: none;
    
    width: 20px;
    height: 20px;

    background-color: #20252e;
    border: 2px solid #373c45;
    border-radius: 4px;
    cursor: pointer;

    transition: 0.1s;
}
input[type="checkbox"]:checked{
    background-color: #343c4a;
    border: 2px solid #646c7b;
}
input[type="checkbox"]:checked::after {
    content: '';
    display: block;

    width: 5px;
    height: 9px;
    border: 2px solid white;
    border-top: none;
    border-left: none;
    
    margin: 1px auto 0;
    transform: rotate(45deg);
}