body {
    background-color: #282d37;
}

/**************************************/

#matrix_frame {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    width: min(2600px,90%);

    background-color: #191514;

    border-color: #beb5a4;
    border-style: solid;
    border-width: 1.7vw;
    border-radius: 5px;
}
/* TODO: Center matrix between 0px and control_box when window height to small (transition: 0.3s)*/

#matrix {
    margin-top: 0.6%;
    margin-bottom: 0.6%;
    margin-left: 2%;
    margin-right: 2%;
}

/**************************************/

#control_box {
    position: fixed;
    bottom: 20px;

    width: min(800px,95%);

    left:50%;
    transform: translateX(-50%);

    display: flex;
    overflow: hidden;

    opacity: 1;
    
    background-color: #252933;
    padding: 10px;
    border: solid 3px #20252e;
    border-radius: 5px;

    transition: width 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#control_box *{
    margin: 3px;
}
#control_box.open{
    width: min(1200px,95%);
}
#control_box.hidden{
    opacity: 0;
    transition: opacity 180ms;
}

#main_page{
    width: min(800px, 95vw);
    position: relative;

    flex-shrink: 0;
    flex-direction: column;
}
#advanced_page{
    width: min(385px,95%);

    flex-shrink: 0;
    opacity: 0;
    transition: opacity 400ms;
}

#control_box.open #advanced_page{
    opacity: 1;
}

@media (max-width: 1200px){
    #control_box{
        flex-direction: column;
        height: 180px;
        transition: height 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #control_box.open{
        width: min(800px,95%);
        height: 400px;
    }
    #main_page, #advanced_page{
        width: 100%;
    }
    
    #control_box.open #main_page{
        border-bottom: solid 1px #5a6272;
        padding-bottom: 5px;
    }
}
@media (min-width: 1200px){
    #control_box.open #main_page{
        border-right: solid 1px #5a6272;
        padding-right: 5px;
    }
}

/**************************************/

#destination_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#destination_box select{
    width: 45%;
}

#current_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#current_station {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#modes_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom_actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/**************************************/

.arrow{
    width: 15px;
    height: 15px;
    
    border-style: solid;
    border-width: 5px;
    border-left: none;
    border-bottom: none;
    
    transform: rotate(45deg) scale(0.6);

    border-color: white;
}

/**************************************/

select {
    background-color: #20252e;
    color: #ffffff;

    border-color: #373c45;
    border-radius: 4px;
    
    font-size: larger;

    padding: 5px;

    min-width: 0;
    flex-shrink: 1;
}

/**************************************/

.checkbox_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#custom_text_div{
    display: flex;
    align-items: center;
}

#custom_text_button{
    margin-left: auto;
}

/**************************************/

label {
    color: white;
    font-family: sans-serif;
    user-select: none;
}

/**************************************/

button {
    background-color: #20252e;
    color: white;

    border-style: solid;
    border-width: 2px;
    border-color: #373c45;
    border-radius: 5px;

    padding: 7px;

    font-size: large;
    font-family: sans-serif;

    transition: 0.2s;
}
button:hover:enabled{
    background-color: #171b21;
    border-color: #646c7b;
    cursor: pointer;
}
button:active:enabled{
    background-color: #343c4a;
}
button:disabled{
    color: #828282;
    cursor: not-allowed;
}

button.secondary{
    background-color: transparent;
    color: white;
    border-width: 1px;
    border-color: #373c45;
}
button.secondary:hover:enabled{
    background-color: #1a1e25;
    border-color: #646c7b;
    color: white;
}
button.secondary:active:enabled{
    background-color: #343c4a;
}

/**************************************/

input[type="checkbox"]{
    appearance: none;
    
    width: 20px;
    height: 20px;

    background-color: #20252e;
    border: 2px solid #373c45;
    border-radius: 4px;
    cursor: pointer;

    transition: 0.1s;
}
input[type="checkbox"]:checked{
    background-color: #343c4a;
    border: 2px solid #646c7b;
}
input[type="checkbox"]:checked::after {
    content: '';
    display: block;

    width: 5px;
    height: 9px;
    border: 3px solid white;
    border-top: none;
    border-left: none;
    
    margin: 1px auto 0;
    transform: rotate(45deg);
}

/**************************************/

input[type="text"]{
    background-color: #20252e;
    color: #ffffff;
   
    border: 2px solid #373c45;
    border-radius: 4px;
    font-size: larger;

    padding: 5px;

    width: 95%;
}

/**************************************/

input[type="radio"]{
    appearance: none;
    position: relative;
    
    width: 20px;
    height: 20px;

    background-color: #20252e;
    border: 2px solid #373c45;
    border-radius: 90px;
    cursor: pointer;

    transition: 0.1s;
}
input[type="radio"]:checked{
    border: 2px solid #646c7b;
}
input[type="radio"]:checked::after {
    content: '';
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 10px;
    height: 10px;

    background-color: #646c7b;
    border: 1px solid #646c7b;
    border-radius: 90px;
}

/**************************************/
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #20252e;

    border-style: solid;
    border-width: 2px;
    border-color: #373c45;
    border-radius: 20px;

    transition: 0.3s;
    cursor: pointer;
}
.slider{
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    transition: 0.3s;
}
.switch:has(input:checked) {
    background-color: #343c4a;
    border-color: #646c7b;
}
.switch input:checked + .slider {
    transform: translateX(20px);
}
#switch_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#on_off_slider_label{
    margin-right: 10px;
}

/**************************************/

#hide_ui_button{
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 30px;
    height: 30px;

    background-color: #20252e;
    border: solid 2px #373c45; 
    border-radius: 5px;

    padding: 4px;
}
#hide_ui_button:hover{
    background-color: #171b21;
    border-color: #646c7b;
    cursor: pointer;
}
#hide_ui_button:active{
    background-color: #343c4a;
}
#cross_line{
    opacity: 0;
    transition: opacity 150ms;
}
#hide_ui_button.line #cross_line{
    opacity: 1;
}
@media (max-width: 1400px){
    #hide_ui_button{
        top: 10px;
        right: 10px;
    }
}