<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innenanzeige Simulator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="{{ url_for('static', filename='input.js') }}"></script>
    <script defer src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    
    <div id="matrix_frame">
        <div id="matrix">
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <div id="control_box">
        <select name="line" id="line"></select>
        >
        <select name="destination" id="destination"></select>
        <select name="current_station" id="current_station"></select>
        <!--
        checkbox: selftest,left,right
        radio   : between station, at station
        button  : start/stop 'Nächste Station' animation (or as checkbox), 
                  next station control, previous station control

        range   : display size (width)
        -->

    </div>

</body>
</html>