<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innenanzeige Simulator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    
    <div id="matrix_frame">
        <div id="matrix">
            <canvas id="canvas"></canvas>
        </div>
    </div>

    <div id="control_box">
        <select name="line">
            <option value="S2">S2</option>
        </select>

        >

        <select name="destination">
            <option value="Buch">Buch</option>
        </select>

        <select name="current_station">
            <option value="Südkreuz">Südkreuz</option>
        </select>

        <!--
        checkbox: selftest,left,right
        radio   : between station, at station
        button  : start/stop 'Nächste Station' animation (or as checkbox), 
                  next station control, previous station control

        range   : display size (width)
        -->

    </div>

</body>
</html>